@model pandemieAndroid2.Models.Vaccin

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vaccin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret_achizitie" class="control-label"></label>
                <input asp-for="Pret_achizitie" class="form-control" />
                <span asp-validation-for="Pret_achizitie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_aprobare" class="control-label"></label>
                <input asp-for="Data_aprobare" class="form-control" />
                <span asp-validation-for="Data_aprobare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Informatii" class="control-label"></label>
                <input asp-for="Informatii" class="form-control" />
                <span asp-validation-for="Informatii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
